.header {
    width: 100%;
    background: #fff;
  }
  
  .header .logo {
    width: 285px;
  }
  
  .header .header-inner {
    width: 1200px;
    height: 76px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header .phone-button-wrap {
    display: flex;
    align-items: center;
  }
  
  .header .phone {
    font-size: 18px;
    font-weight: 600;
    color: rgba(0, 164, 255, 1);
    line-height: 70px;
  }
  
  .header .button {
    background: linear-gradient(0deg, rgba(0, 164, 255, 1), rgba(25, 173, 255, 1));
    box-shadow: 0px 2px 5px 0px rgba(0, 164, 255, 0.4);
    opacity: 0.99;
    border-radius: 100px;
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    padding: 6px 20px;
    margin-left: 21px;
  }
  
  .bg-banner {
    width: 100%;
  }
  
  .block-container {
    width:100%;
    height:1024px;
    background:rgba(244,251,255,1);
  }
  
  .block-container .title {
    font-size: 30px;
    font-weight: 500;
    color: rgba(0, 164, 255, 1);
    line-height: 86px;
    text-align: center;
  }
  
  .block-container .vice-title {
    font-size: 24px;
    font-weight: 300;
    color: rgba(114, 114, 114, 1);
    line-height: 30px;
    text-align: center;
  }
  
  .block-container .card-container {
    width: 1200px;
    margin: 40px auto 0;
  }
  
  .card-container .card {
    width: 380px;
    height: 386px;
    margin-right: 30px;
    float: left;
    margin-bottom: 44px;
    background:rgba(255,255,255,1);
    box-shadow:0px 5px 10px 0px rgba(0,84,255,0.17), 0px 0px 5px 0px rgba(169,232,244,0.4);
    border-radius:20px;
  }
  /*取消3的倍数的右margin 关键是这里要取消一个margin*/
  .card-container .card:nth-child(3n) {
      margin-right: 0;
  }

  /*现在是 380 * 3 + 30 * 2 = 1200 之前是380 * 3 + 30 * 3 = 1230 */

  .card-container .card img {
    width:380px;
    height:306px;
    border-radius:20px;
  }
 
  .card-container .card .advantage-item  {
    width:100%;
    text-align: center;
    justify-content: center;
    height:23px;
    font-size:18px;
    font-family:SourceHanSansSC;
    font-weight:300;
    color:rgba(133,133,133,1);
    line-height:71px;
  }
  
  /* teacher_wrap */
  .teacher_wrap {
    background-color: #00a4ff;
    color: #fff;
    width: 100%;
    font-size: 0;
    height: 650px;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .teacher_wrap_conent {
    font-size: 18px;
    font-weight: 500;
    height: 100%;
    width: 540px;
    line-height: 38px;
    padding-left: 40px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    align-items: flex-start;
  }

  .teacher_conent_title {
    margin-bottom: 1.5rem;
    font-size: 36px;
    font-weight: 800;
    margin-top: 30px;
  }

  .teacher_wrap   .text_1 {
    width: 530px;
    font-weight: 400;
  }

  .text  .text_1 .yellow {
    color: #ffef00;
    font-size: 18px;
    font-weight: 700;
}

/* 啊哈磊照片 */
.teacher_wrap .ahalei .img {
  width: 540px;
  height: 650px;
}

.img {
  border-style: none;
}


/* 优势 */
/* .achievement-wrap {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
} */

/* .achievement-wrap {
  height: auto;
} */

.achievement-wrap {
  color: #00a4ff;
  width: 100%;
  height:1379px;
  background:rgba(244,251,255,1);
}

.achievement-wrap   .achievement-text {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.achievement-wrap   .achievement-text .achievement-item-title{
    font-size: 30px;
    margin-top: 21px;
    margin-bottom: 1.25vw;
}

.achievement-wrap   .achievement-text .achievement-item-title {
  font-weight: 400;
  color: #00a4ff;
  line-height: 42px;
  text-align: center;
}
  
.achievement-wrap   .achievement-text  .youshi {
    margin-bottom: 1vw;
    font-size: 18px;
    font-weight: 400;
    color: #00a4ff;
    line-height: 42px;
    text-align: center;
    margin-top: 7px;
}


